<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="RTIS_Vulcan_MBL.RTIS_Vulcan_MBL" android:versionCode="2" android:installLocation="auto" android:versionName="1.1.49">
	<uses-sdk android:minSdkVersion="16" android:targetSdkVersion="22" />
	<application android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" android:icon="@drawable/Icon" android:label="RTIS_Vulcan_MBL" android:hardwareAccelerated="false" android:largeHeap="true"></application>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.BATTERY_STATS" />
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<application android:label="RTIS_Vulcan_MBL" android:icon="@drawable/Icon"></application>
</manifest>